<hr>
<h2>{{model.content}}</h2>
<h3>{{model.notes}}</h3>
<p>- {{model.author}}</p>
{{edit-question saveEdit="saveEdit" question=model}}
<hr>
<h4>Answers</h4>
{{#each model.answers as |answer|}}
<p>{{answer.author}}'s Answer</p>
<h4>{{answer.content}}</h4>
{{/each}}
{{new-answer saveAnswer="saveAnswer" question=model}}
